.sponsors_container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Sponsorstitle span {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em; 
    margin: 1em 0;
    font-weight: 700;
    animation: reveal 3000ms ease-in-out forwards 200ms,
               glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
}

@keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
}

.sponsors, .community_sponsors {
    margin: 1.5rem 4rem;
    padding: 0.7rem 1.7rem;
    width: 75%;
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.4),
      rgba(233, 233, 233, 0.1)
    );
    background-color: blueviolet;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.titleSponsor {
    cursor:auto;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5;
    text-decoration: underline;
    color: #ccc;
}

.other_sponsors {
    cursor:auto;
    width: 100%;
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    letter-spacing: 1.5;
    text-decoration: underline;
    color: #ccc;
}

.community_sponsors {
  width: max-content;
}

@media (max-width: 800px) {
  .other_sponsors {
    flex-direction: column;
  }
  .sponsors , .community_sponsors{
    height: 70%;
    width: 90%;
    margin: 1.5rem 0.5rem;
  }
  .sponsors_container {
    flex-wrap: wrap;
    height: auto;
  }
}