.navigation {
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 999;
}

nav {
    margin: 1.2rem;
    padding: 0.7rem 1.7rem;
    height: 3.5rem;
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.4),
      rgba(233, 233, 233, 0.1)
    );
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.navlinks {
  display: flex;
  justify-content: space-between;
}

.logo .logo_link {
  text-decoration: none;
  color: #ccc;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.logo .logo_link img {
  height: 60px;
}

.link {
  color: white;
  height:90%;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3px 10px;
  font-size: medium;
  font-weight: 1000;
}

.navlinks .link:hover {
  transform: translateY(10);
  color:#240c3c;
}

.navkinks a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #240c3c;
  transition: width .5s linear;  
}
.navkinks a:hover:after {width: 100%;}



.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 80px;
  height: 30vh;
  left: 0;
  width: 100%;
}
.closed {
  display: hidden;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  background-image: linear-gradient(90deg, blueviolet, rgb(195, 131, 255));
  border-radius: 15px;
  transition: all ease-in-out 1s;
}

.mobile-menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: large;
  line-height: 1.5;
  margin: 15px 10px;
  font-weight: 1500;
}


@media screen and (max-width: 768px) {
  .logo{
    position: relative;
    right: 5%;
  }
  .logo .logo_link img {
    height: 40px;
  }
  .nav {
    margin: 0.5rem;
    padding: 0.5rem 1.2rem;
    height: 3rem;
  }
  .navlinks {
    display: none;
  }
  .hamburger-menu{
    display: flex;
  }
}
  